.effective-chat-message
  .card
    .card-header
      %strong= chat_message.name
      commented on
      = chat_message.created_at.strftime('%F %T')
    .card-body
      = simple_format(chat_message.body)
