.effective-chat-message
  .card
    .card-header
      .row
        .col
          %strong= chat_message.name
        .col.text-right= chat_message.created_at.strftime("%b %e, %Y %k:%M")
    .card-body
      = simple_format(chat_message.body)
