= render 'layout' do
  - chat_user = chat.chat_user(user: current_user)

  - # New message form
  - if chat_user.present? && EffectiveResources.authorized?(self, :update, chat)
    = render('effective/chats/form', chat: chat)

  - elsif EffectiveResources.authorized?(self, :show, chat)
    = render('effective/chats/summary', chat: chat)
    = render(partial: 'effective/chats/chat_message', collection: chat.chat_messages, chat: chat)
