- current_chat_user = chat.chat_user(user: current_user)
- chat_users_count = chat.chat_users.count

- if chat.anonymous?
  .alert.alert-danger.my-4
    This is an anonymous #{etd(chat)}.
    %strong Do not reveal any potentially personally identifying information
    like your name or employer.

%p
  This #{etd(chat)} includes:

  - if current_chat_user.present? && chat_users_count
    = (chat.chat_users).map(&:name).to_sentence
